window {
  color: red;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
}

#myTV {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
}

#myTV text {
  color: #ebdbb2;
  background-color: #282828;
}

#input {
  color: #ebdbb2;
  background-color: #282828;
  border-color: #ebdbb2;
  border-radius: 0;
}

.insertion-cursor {
  color: white;
}

